# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
.next/
**/.next/
out/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*

# Database
*.db
*.db-journal

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
